*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    position: sticky;
    z-index: 500;
    top: 0;
    width: 100%;
    background-color: rgb(255, 222, 32);
    padding: 20px 0;
}
header h1{
    text-align: center;
    font-size: 4rem;
}
.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*--------Menu-hamburguesa-------*/
.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.767);
    transition: transform 0.3s ease, opacity .4s ease;
    transform: translate(0, -100%);
}
.panel.is-active{
    transform: translate(0, 0);
    opacity: 1;
}
.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.menu a{
    padding: 1rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 222, 32);
    transition: all 0.3s ease;
}
.menu a:hover{
    font-weight: bold;
    color: black;
    background-color: rgb(255, 222, 32);
}
.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 25px;
    background-color: rgb(255, 222, 32);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------Eventos-Teclado-------*/
.stage{
    display: flex;
    min-height: 50vh;
    background-color: rgb(41, 41, 41);
}
.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(255, 222, 32);
}
/*--------ScrollTopButton-------*/
.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(255, 222, 32);
    color: black;
    transition: all .3s ease-out;
}

.scroll-top-btn:hover{
    color: rgb(255, 222, 32);
    background-color: black;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}
/*--------Modo-oscuro-------*/
.tema-oscuro-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(255, 222, 32);
    color: black;
    transition: all .3s ease-out;
}
.tema-oscuro-btn:hover{
    color: rgb(255, 222, 32);
    background-color: black;
}
.modo-oscuro{
    background-color: rgb(56, 56, 56);
    color: rgb(255, 222, 32);
}
